<template>
    <div class="create-group">
        <div if.bind="step === 'INFO'">
            <div class="create-group-container">
                <div class="inline-block">
                    <a href="#" click.delegate="openForm()">
                        <i class="fa fa-plus-square-o create-group-icon block color-red"></i>
                        Create new group
                    </a>
                </div>
            </div>
        </div>

        <div if.bind="step === 'FORM'">
            <div class="card pop-up">
                <div class="card-header">
                    <span>Create a new group</span>
                </div>
                <div class="card-body">
                    <form submit.delegate="addNewGroup()">
                        <span class="text-danger" if.bind="newGroupAdded">New group added!</span>
                        <div class="form-group text-left">
                            <label for="group-name">Group name</label>
                            <input type="text" class="form-control" placeholder="Type in group name" value.bind="groupName">
                        </div>
                        <div class="form-group text-right">
                            <a href="#" class="btn btn-default" click.trigger="closeForm()">Cancel</a>
                            <button type="submit" class="btn btn-danger">Create group</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>