<template>
  <require from="styles/bootstrap.css"></require>
  <require from="styles/styles.css"></require>
  
  <require from="components/common/app-header/app-header"></require>
  <require from="components/common/notification/notification"></require>
  <notification></notification>
  <app-header></app-header>
  
  <main>    
    <div class="spacer small"></div>

    <router-view></router-view>
  </main>
  
  <footer>
    <div>Copyright &copy; 2017 Lunchout</div>
  </footer>
</template>
