<template>
    <div class="admin-panel text-left">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="spacer small"></div>
                    <span class="text-danger" if.bind="newMemberAdded">User added!</span>
                    <div class="form-group">
                        <label for="member-email">Add group member</label>
                        <input type="email" class="form-control" name="member-email" placeholder="Type in email" value.bind="newMemberEmail">
                    </div>
                    <button type="submit" class="btn btn-danger" click.delegate="addNewMember()">Add to group</button>
                </form>
            </div>
        </div>
    </div>
</template>