<template>
    <require from="./components/create-group/create-group"></require>

    <div class="container">
        <div class="row">
            
            <div class="text-center">
                <h3>What would you like to do?</h3>
                <span class="color-gray-medium">You can create a brand new LunchOut group or join an existing group at your company.</span>
                <div class="spacer"></div>
            </div>

            <div class="group-select-content">
                <div class="col-xs-12 col-md-6 text-center">
                    <div class="card">
                        <div class="card-header">
                            <span>Already a member of a group?</span>
                        </div>
                        <div class="card-body">
                            <form submit.delegate="goTo()">
                                <div if.bind="noGroup">
                                    <span class="color-gray-medium">Tip: if you can't see any groups ask your friends for an invite or create a new group.</span>
                                    <div class="spacer small"></div>
                                </div>
                                <div class="form-group text-left">
                                    <label for="group-select">Select from your groups</label>
                                    <select class="form-control" placeholder="Select from your groups" value.bind="selectedGroup" change.delegate="updateSelected(selectedGroup)">
                                        <option repeat.for="group of groups | alphaSort: {prop: 'groupName', dir: 'asc'}" model.bind="group.groupId" id="${group.groupId}">${group.groupName}</option>
                                    </select>
                                </div>
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-danger">Go vote</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 text-center">
                    <create-group
                        add-new-group-callback.call="addNewGroup(groupName)"
                        new-group-added.one-way="newGroupAdded">
                    </create-group>
                </div>
            </div>
        </div>
    </div>
</template>