<template>
    <require from="./components/vote-item/vote-item"></require>
    <vote-item 
        class="vote-item"
        repeat.for="restaurant of restaurants | numericSort: {prop: 'voteCount', dir: 'dsc'}" 
        item.bind="restaurant" 
        users.bind="users"
        self.bind="self"
        vote-for-callback.call="voteForCallback({selectedRestaurant})">
    </vote-item>
</template>