<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                <div class="card with-circle drop-from-top">
                    <div class="card-header">
                        <div class="card-header-circle">
                            <i class="fa fa-id-badge"></i>
                        </div> 
                        <span>Register your account</span>
                    </div>
                    <div class="card-body">
                        <form-validation errors-count.bind="validation.errors.length">
                            <template replace-part="content">
                                <form submit.delegate="register()">
                                    <div class="form-group text-left" validation-errors.bind="nameErrors">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" class="form-control" placeholder="e.g. John Burgerdude" value.bind="userData.name & validate">
                                        <error-messages errors.bind="nameErrors"></error-messages>
                                    </div>
                                    <div class="form-group text-left" validation-errors.bind="emailErrors">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" class="form-control" placeholder="e.g. iloveburgers@gmail.com" value.bind="userData.email & validate">
                                        <error-messages errors.bind="emailErrors"></error-messages>
                                    </div>
                                    <div class="form-group text-left" validation-errors.bind="passwordErrors">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" class="form-control" placeholder="your secret password" value.bind="userData.password & validate">
                                        <error-messages errors.bind="passwordErrors"></error-messages>
                                    </div>
                                    <div class="form-group text-right">
                                        <a href="#" type="text" class="btn btn-default space-up" click.trigger="goTo()">Back</a>
                                        <button type="submit" class="btn btn-danger space-up" ref="submitBtn">Register</button>
                                    </div>
                                </form>
                            </template>
                        </form-validation>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>