<template>
    <require from="./components/users-list/users-list"></require>
    <require from="./components/admin-panel/admin-panel"></require>
    <require from="./components/voting-list/voting-list"></require>

    <!-- Admin panel -->
    <div class="container-fluid" if.bind="isAdmin">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-8 text-right">
                <a href="#" click.delegate="toggleAdminPanel()">Toggle admin panel</a>
                <admin-panel 
                    if.bind="adminPanelOpen"
                    group-id.one-way="votingData.id">
                </admin-panel>
            </div>
        </div>
    </div>

    <!-- User list -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-3 text-left">
               <div class="alert alert-info" role="alert">
                    <span>You are a member of <strong>${votingData.groupName}</strong>.</span>
               </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8 text-left">
                <users-list
                    class="users-list"
                    users.one-way="votingData.users">
                </users-list>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <form>
                    <div class="form-group text-left">
                        <form submit.trigger="addRestaurant()">
                            <label for="add-restaurant">Propose a restaurant</label>
                            <div class="row">
                                <div class="col-xs-12 col-sm-9">
                                    <input type="text" name="add-restaurant" class="form-control" placeholder="Type in restaurant name" value.bind="chosenRestaurant">
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <button type="submit" class="btn btn-danger btn-block">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </div>

        <div class="spacer small"></div>

        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <label if.bind="hasRestaurants">Where will we eat today?</label>
                <voting-list
                    restaurants.bind="votingData.restaurants"
                    users.bind="votingData.users"
                    self.bind="votingData.user"
                    vote-for-callback.call="voteFor(selectedRestaurant)">
                </voting-list>
            </div>
        </div>

        <div class="spacer"></div>

    </div>
</template>