<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                <h2>Meet before you meet and eat<span class="color-red">.</span></h2>
                <div class="spacer small"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, error reprehenderit enim, aliquid quae dolores.</p>
                <div class="spacer small"></div>
            </div>
            <div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
                <div class="main-food-icon-container">
                    <div class="main-food-icon"></div>
                </div>
                <a href="#" class="btn btn-danger btn-lg btn-block btn-register" click.delegate="goTo('register')">REGISTER</a>
                <p>or login with <a href="">Google</a></p>
            </div>
        </div>
    </div>
</template>