<template>
    <header>
        <div class="logo-container text-center">
            <h1 class="no-margin"><a href="#" class="logo" route-href="route: landing"></a></h1>
        </div>
        <div class="nav-links">
            <span class="color-red" if.bind="isLoggedIn">Welcome, user!</span>
            <a href="#" route-href="route: login" if.bind="!isLoggedIn">Login</a>
            <a href="#" click.delegate="logout()" if.bind="isLoggedIn">Logout</a>
        </div>
    </header>
</template>