<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">               
                <div class="card with-circle drop-from-top">
                    <div class="card-header">
                        <div class="card-header-circle">
                            <i class="fa fa-handshake-o"></i>
                        </div> 
                        <span class="text-center">Login</span>
                    </div>
                    <div class="card-body">
                        <span>Type in your login credentials.</span>
                        
                        <div class="spacer small"></div>

                        <form-validation errors-count.bind="validation.errors.length">
                            <template replace-part="content">
                                <form role="form" submit.delegate="login('group-select')">
                                    <div class="form-group text-left" validation-errors.bind="usernameErrors">
                                        <label for="userData.username">Email</label>
                                        <input id="userData.username" type="text" name="userData.username" class="form-control" placeholder="Your email" value.bind="userData.username & validate">
                                        <error-messages errors.bind="usernameErrors"></error-messages>
                                    </div>
                                    <div class="form-group text-left" validation-errors.bind="passwordErrors">
                                        <label for="password">Password</label>
                                        <input id="userData.password" type="password" name="password" class="form-control" placeholder="Your secret password" value.bind="userData.password & validate">
                                        <error-messages errors.bind="passwordErrors"></error-messages>
                                    </div>
                                    <div class="form-group text-right">
                                        <a href="#" class="btn btn-default space-up" click.trigger="goTo()">Back</a>
                                        <button type="submit" class="btn btn-danger space-up" ref="submitBtn">Login</button>
                                    </div>
                                </form>
                            </template>
                        </form-validation>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>