<template>
    <div class="alert-wrapper">
        <div if.bind="isVisible" class="alert alert-info" role="alert">
            <a href="#" class="close" aria-label="close" click.delegate="close()">&times;</a>
            <span>${message}</span>
        </div>
    </div>
</template>