<template>
    <div class="radio">
        <input
            ref="radioButton"
            type="radio" 
            name="restaurant-choice"
            value="${item.restaurantName}" 
            model.bind="item.restaurantName" 
            checked.bind="selectedRestaurant" 
            change.delegate="voteFor()">
        <label class="radio-label" for="restaurant-choice}">${item.restaurantName}</label> 
    </div>
    <span class="vote-item-name" repeat.for="name of namesList">${name}</span>
</template>