.drop-from-top {
    animation: drop-from-top 1s forwards;
}

.pop-up {
    animation: pop-up 0.5s forwards;
}

@keyframes drop-from-top {
    0% {transform: translate(0, -1rem); opacity: 0.65;}
    100% {transform: translate(0, 0); opacity: 1;}
}

@keyframes pop-up {
    0% {transform: scale(0.3); opacity: 0.65;}
    100% {transform: scale(1); opacity: 1;}
}