/* inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid $gray-medium;
  transition: border-bottom 1s;

  &:focus {
    box-shadow: none;
    border-bottom: 1px solid $pepper;
    transition: border-bottom 1s;
  }
}

/* selects */

select {
  border-radius: 0!important;
  box-shadow: none!important;
  border: 1px solid $gray-medium!important;
}


/* Radio buttons*/
.radio {
  display: inline-block;
  margin: 1rem 0.75rem;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 2.25rem;
    height: 2.25rem;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    z-index: 10;
    cursor: pointer;

    + .radio-label {
        display: flex;
        align-items: center;
        padding-left: 0;
        cursor: auto;

      &:before {
        content: '';
        background: $gray-light;
        border-radius: 100%;
        border: 1px solid darken($gray-light, 25%);
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        position: relative;
        top: 0;
        margin-right: 1rem; 
        vertical-align: top;
        text-align: center;
        transition: all 0.5s ease;
      }
    }

    &:checked {
      + .radio-label {
        &:before {
          background-color: $blue-sea;
          box-shadow: inset 0 0 0 4px $gray-light;
        }
      }
    }

    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $blue-sea;
        }
      }
    }

    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $gray-light;
          border-color: darken($gray-light, 25%);
          background: darken($gray-light, 25%);
        }
      }
    }
  }
}

/*form groups*/

.form-group {
  margin-bottom: 3rem;
}