
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    font-family: 'Open Sans';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    background: white;
    color: white;

    a:not(.logo) {
        color: $gray-dark;
        margin: 0 0.5rem;
        padding: 1rem;
        transition: all 0.5s;
        border-bottom: 1px solid transparent;

        &:hover {
            color: $gray-dark;
            transition: all 0.5s;
            text-decoration: none;
            border-bottom: 1px solid $gray-dark;
        }
    }

    .logo {
        display: block;
        background:url('../src/assets/img/logo.png');
        width: 200px;
        height: 68px;
    }
}

footer {
    display: flex;
    align-items: center;
    color: $gray-medium;
    padding: 1rem 2rem;
    margin-top: 3rem;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #131313;
    height: 80px;
}

main {
    flex: 1;
}

a {
    color: $gray-medium;

    &:hover {
        color: $pepper;
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.card {
    position: relative;
    margin: 2.5rem 0;
    box-shadow: $box-shadow-light;

    &.with-circle {
        .card-header {
            padding: 4rem 3rem 3rem;
        }
    }

    .card-header {
        display: block;
        min-height: 1rem;
        padding: 3rem;
        background: rgba(218, 121, 121, 0.2);
        color: black;
        border: 1px solid $pepper;

        .card-header-circle {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            left: calc(50% - 35px);
            top: -35px;
            width: 70px;
            height: 70px;
            background: white;
            border: 1px solid $pepper;
            border-radius: 50%;
            box-shadow: $box-shadow-pink;
            
            i {
                font-size: 3.5rem;
                opacity: 0.85;
            }
        }
    }

    .card-body {
        display: block;
        min-height: 1rem;
        padding: 3.5rem 3rem 1.5rem;
        border: 1px solid black;
        border-top: 0;
    }
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.spacer {
    display: block;
    margin: 20px 0;
    min-height: 10px;

    &.small {
        margin: 10px 0;
    }
}

.alert {
    margin-bottom: 3rem;
}

@keyframes fade-in-out {
    0%   {opacity: 0;}
    25%  {opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 0;}
}
