.group-select-content {
    display: flex;
    align-items: center;
    
    .create-group-icon {
        font-size: 10rem;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.1);
            transition: all 0.5s;
        }
    }
}
