.btn-register {
    margin: 1.5rem 0;
    box-shadow: $box-shadow-light;
    border-radius: 0;
}

.main-food-icon-container {
    display: flex;
    justify-content: center;

    .main-food-icon {
        background:url('../src/assets/img/salad.png');
        width: 128px;
        height: 128px;
        background-size: contain;
        margin-bottom: 1rem;
    }
}
