.users-list {
    ul {
        padding: 0;

        li {
            position: relative;
            display: inline;
            padding: 0.25rem 1rem 0.25rem 1.5rem;

            span {
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 8px;
                    width: 10px;
                    height: 10px;
                    background: $gray-medium;
                    border-radius: 50%;
                }

                &.online {
                    &:before {
                        background: limegreen
                    }
                }
            }
            
        }

    }
}