.errors-list {
    list-style: none;
    padding-left: 0;

    .error-message {
        padding: 0.5rem 1.5rem;
        margin-bottom: 0.25rem;
        background: $blood;
        color: $white;
    }
}