$gray-super-light: #fbfbfb;
$gray-light: #efefef;
$gray-medium: #999999;
$gray-dark: #444444;
$pepper: #cc433e;
$blood: #e50000;
$blue-sea: #31708f;
$blue-light: #bce8f1;
$white: #ffffff;

//box-shadow
$box-shadow-light: -1px 2px 8px 0px rgba(181,181,181,1);
$box-shadow-pink: -1px 1px 4px 0px #d19a9a;
