.vote-item {
    display: flex;
    align-items: center;

    .vote-item-name {
        margin: 0 0.5rem;
        padding: 0.5rem;
        border: 1px solid $blue-light;
        font-size: 1rem;
        color: $blue-sea;
    }
}